.btn{
    color:  #182226;
    text-align: right;
    font-weight: 700;
    transition: 0.3s;
    padding: 12px 24px;
    border-radius: 118px;
    border: 2px solid  #2C2F24;
    width: auto;
    align-self: flex-start;
    }
    .btn_bd-grey{
        border-color: #DBDFD0;
    }
    .btn:hover,
    .btn_red{
        background:#AD343E;
        color: #fff;
        border-color:#AD343E ;
    }
    .btn_red:hover{
        background: #fff;
        border-color:#2c2f24 ;
        color: #182226;
    }

    .color{
        color:#AD343E;
    }
    .dib{
        display: inline-block;
    }
    .hover{
        transition: 0.3s;
    }
    .hover:hover{
        color: #AD343E;
    }

    .button{
        display: flex;
        justify-content: center;
        gap: 16px;
        }
        .btns{
        padding: 20px 32px;
        color:  #182226;
        font-weight: 700;
        transition: 0.3s;
        padding: 12px 24px;
        border-radius: 118px;
        border: 2px solid  #2C2F24;
        width: 170px;
        height: 64px;
        }
        .btns:hover,
        .btn_red{
        background:#AD343E;
        color: #fff;
        border-color:#AD343E ;
        }
        .btn_red:hover{
        background: #fff;
        border-color:#2c2f24 ;
        color: #182226;
        }
